In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [31]:
import numpy as np
import pandas as pd
import datetime as dt
#import time

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [39]:
max_date = session.query(func.max(Measurement.date)).scalar()
   
#max_date = dt.datetime.strptime(max_date, '%Y-%m-%d')
max_date

'2017-08-23'

In [58]:
year, month, day = max_date.split("-")
m_date = dt.date(int(year), int(month), int(day))
print(m_date)
type(m_date)

2017-08-23

datetime.date

In [61]:
m_date_unix = dt.datetime.strptime(max_date, "%Y-%m-%d").timestamp()
m_date_unix

1503460800.0

In [68]:
#sel = []
query_date = m_date - dt.timedelta(days=365)
print("Query Date: ", query_date)
type(query_date)

Query Date:  2016-08-23

datetime.date

In [73]:
date_string = query_date.strftime('%Y-%m-%d')
print(date_string)
type(date_string)

2016-08-23

str

In [82]:
data = session.query(Measurement.date,Measurement.tobs).\
        filter(Measurement.date == query_date).all()
print(data)

[('2016-08-23', 81.0), ('2016-08-23', 76.0), ('2016-08-23', 80.0), ('2016-08-23', 80.0), ('2016-08-23', 80.0), ('2016-08-23', 77.0), ('2016-08-23', 74.0)]